<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ll.p3143.mapper.OrderMapper">
<select id="selAllOrder" resultType="ll.p3143.entity.Order">
        SELECT
        *
        FROM order_list where 1=1
        <if test="num != null and num != ''">
                and orderNumber=#{num}
        </if>
        <if test="pname != null and pname != ''">
               and receiver=#{pname}
        </if>
        <if test="ptel != null and ptel != ''">
              and phone=#{ptel}
        </if>
        limit #{pageNum},2

</select>
</mapper>

