<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
<script src="js/jquery.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<p th:replace="bar/top::inp"></p>
<!--aside nav-->
<!--aside nav-->
<p th:replace="bar/top::left"></p>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单详情示例</h2>
      </div>
      <table class="table">
       <tr>
        <td th:text="收件人 +${order?.receiver}">DeathGhost</td>
        <td th:text=" '联系电话：'+${order?.phone}">18300000000</td>
        <td th:text=" '收件地址：：'+${order?.direction}">陕西省西安市雁塔区丈八路2000集都市印象18栋2160室</td>
        <td>付款时间：2016-02-01 13:56</td>
       </tr>

       <tr>
        <td> 下单时间：2016-02-01 13:56</td>
        <td>付款时间：2016-02-01 13:56</td>
        <td>确认时间：2016-02-01 13:56</td>
        <td>评价时间时间：---</td>
       </tr>
       <tr>
        <td colspan="3" th:text=" '订单备注：：：'+${order?.remarks}"><mark>帮我检查好呀~谢谢~</mark></td>
        </tr>
      </table>
      <table class="table">
       <tr>
        <th>缩略图</th>
        <th>产品名称</th>
        <th>订单编号</th>
        <th>订单金额</th>
        <th>详情</th>
        <th>配送方式</th>
           <th>单位</th>
        <th>操作</th>

       </tr>
       <tr>
        <td class="center"><img src="upload/goods01.jpg" width="50" height="50"/></td>
        <td th:text="${order?.product?.productName}">这里是产品名称</td>
<!--        要进行非空判断-->
        <td class="center"  th:text="${order?.orderNumber}" >A15902</td>
        <td class="center" ><strong class="rmb_icon" th:text="${order?.orderAmount}">59.00</strong></td>
        <td class="center">
         <p>颜色：蓝色</p>
         <p>尺码：XXL码</p>
        </td>
        <td class="center" th:text="${order?.dispatching}"><strong>1</strong></td>
        <td class="center" >包</td>
        <td class="center" > <a href="product_list.html" th:href="@{orderDelete+'?orderNumber='+${order?.orderNumber}}" title="删除" class="link_icon">&#100;</a></td>
       </tr>
      </table>
      <aside class="mtb" style="text-align:right;">
       <label>管理员操作：</label>
       <input type="text" class="textbox textbox_295" placeholder="管理员操作备注"/>
       <input type="button" value="打印订单" class="group_btn"/>
       <input type="button" value="确认订单" class="group_btn"/>
       <input type="button" value="付款" class="group_btn"/>
       <input type="button" value="配货" class="group_btn"/>
       <input type="button" value="发货" class="group_btn"/>
       <input type="button" value="确认收货" class="group_btn"/>
      </aside>
 </div>
</section>
</body>
</html>
