<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--[if lt IE 9]>-->
    <script src="js/html5.js"></script>
    <!--    <![endif]-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        (function ($) {
            $(window).load(function () {

                $("a[rel='load-content']").click(function (e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function (data) {
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo", "h2:last");
                    });
                });

                $(".content").delegate("a[href='top']", "click", function (e) {
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo", $(this).attr("href"));
                });

            });
        })(jQuery);

        function leave(a, obj) {
            //获取name为123对应的input输入框中的值
            //document.getElementById("Error").style="";

            var val = obj.value;
            if (val == null || val == '') {
                document.getElementById(a + "Error").style = "";
            } else {
                document.getElementById(a + "Error").style = "display:none";
            }
        }

        // function click(a) {
        //     //获取name为123对应的input输入框中的值
        //
        //     var val = $("input[name=a]").val();
        //
        //     //if(a != null || $.trim(a) != '') {
        //     document.getElementById(a + "Error").style = "display:none";
        //     //}
        // }

    </script>
</head>
<body>

<!--header-->

<p th:replace="bar/top::inp"></p>
<!--aside nav-->
<!--aside nav-->
<p th:replace="bar/top::left"></p>

<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">商品详情示例</h2>
            <a th:href="@{/productList}" class="fr top_rt_btn">返回产品列表</a>
        </div>
        <form th:action="@{/saveProduct}" method="post">
            <section>
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">商品名称：</span>
                        <input type="text" class="textbox" th:id="afterError" placeholder="商品名称..."
                               th:name="productName"
                               onmouseleave="leave('productName',this) "/>
                        <span class="errorTips" style="display:none" th:id="productNameError" th:name="errorMsg">商品名称不能为空...</span>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">商品货号：</span>
                        <input type="text" class="textbox" th:id="afterError" placeholder="商品货号..." th:name="itemNo"
                              onmouseleave="leave('itemNo',this)"/>
                        <span class="errorTips" style="display:none" th:id="itemNoError"
                              th:name="errorMsg">商品货号不能为空...</span>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;" th:name="brand">品牌：</span>
                        <select class="select">
                            <option>选择品牌</option>
                            <option>名牌</option>
                            <option>普通</option>
                        </select>

                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">分类：</span>
                        <select class="select" th:name="classify">
                            <option>选择产品分类</option>
                            <option>手机数码</option>
                            <option>文具</option>
                            <option>生活用品</option>

                        </select>

                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">单价：</span>
                        <input type="text" class="textbox" th:id="afterError" placeholder="请输入价格..." th:name="price"
                              onmouseleave="leave('price',this)"/>
                        <span class="errorTips" style="display:none" th:id="priceError"
                              th:name="errorMsg">价格不能为空...</span>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">单位：</span>
                        <input type="text" class="textbox" th:id="afterError" th:name="units" placeholder="请输入单位"
                              onmouseleave="leave('units',this)">
                        <span class="errorTips" style="display:none" th:id="unitsError"
                              th:name="errorMsg">单位不能为空...</span>
                    </li>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">推荐：</span>
                        <label class="single_selection"><input type="checkbox" th:name="isBoutiqueBtn"/>是否精品</label>
                        <label class="single_selection"><input type="checkbox" th:name="isHotSellBtn"/>是否热销</label>
                        <label class="single_selection"><input type="checkbox" th:name="isNewProductBtn"/>是否新品</label>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">上传图片：</span>
                        <label class="uploadImg">
                            <input type="file"/>
                            <span>上传图片</span>
                        </label>
                    </li>
                    <li>
                        <span   class="item_name"  style="width:120px;">产品详情：</span>
                        <input type="text" class="textbox" style="width:200px;" placeholder="请输入产品详情">
                    </li>
                    <!--          库存 单价 单位-->
                    <li>
                        <span class="item_name" style="width:120px;">库存：</span>
                        <input type="text" class="textbox" th:id="afterError" th:name="repertory" placeholder="请输入库存"
                             onmouseleave="leave('repertory',this)">
                        <span class="errorTips" style="display:none" th:id="repertoryError"
                              th:name="errorMsg">库存不能为空...</span>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" value="添加">
                    </li>
                </ul>
            </section>
        </form>
</div>
</section>
</body>
</html>
